
@font-face {
    font-family: 'Open Sans L', sans-serif;
    src: url(../webfonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans R', sans-serif;
    src: url(../webfonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans SB', sans-serif;
    src: url(../webfonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans EB', sans-serif;
    src: url(../webfonts/OpenSans-Bold.ttf);
    font-weight: 800;
}


body { 
    font-family: 'Open Sans R', sans-serif;
    color: #fff;
}

.container-fluid {
    padding: 0;
}

h1 {
    font-weight: 100;
}

nav-list a small:hover {
    cursor: pointer;
}

.text-red {
    color: rgb(194,19,25);
}

.text-blue {
    color: rgb(15,38,43);
}

.text-grey {
    color: #495057;
}

.nav-logo-wrap {
    max-width: 14rem;
}

.image {
    width: 100%;
    height: auto;
}

.nav-list {
    list-style-type: none;
}

.nav-list li+li {
    margin-left: 1em;
}

.nav-list small{
    font-weight: bold;
}

.cta-block {
    background-image: url(../svg/Dark_Background/Logo-Icon.svg);
    background-color: rgb(15,38,43);
    padding: 1rem;
    background-repeat: no-repeat;
    background-position-x: 4%;
    background-size: 29rem;
    background-position-y: center;
    font-family: 'Open Sans L', sans-serif;

}

.cta-block-img {
    max-width: 27rem;
    padding-bottom: 2rem;
}

.cta-block-img img {
    width: 100%;
    height: auto;
}

.testimonials-quote {
    position: relative;
}

.testimonials-quote::before {
    content: open-quote;
    color: rgb(194,19,25);
    position: absolute;
    top: -103px;
    left: -45px;
    font-size: 14rem;
    opacity: .25;
}

.testimonials-quote::after {
    content: close-quote;
    color: rgb(194,19,25);
    position: absolute;
    bottom: -137px;
    right: .775em;
    font-size: 14rem;
    opacity: .25;
}

.testimonials-quote-text {
    font-size: 1.2rem;
}

img-wrap {
    border-radius: 50%;
    overflow:hidden;
}

img-wrap img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

img-wrap:hover img {
    transform: scale(1.5);
}

.circle {
    border-radius: 50%;
}

.small-circle {
    max-width: 11rem;
}

.smaller-testimonial {
    font-size: .75rem;
}

.section-your-vote {
    background-image: url(../img/lower-bg.jpg);
    background-size: cover;
    background-position-y: center;
    padding: 2.5rem;
}

.section-your-vote .container p {
    font-size: 1.5rem;
}

.form-control {
    height: calc(2.5em + .75rem + 2px);
}

.btn-submit {
    text-transform: uppercase;
    width: 33%;
    border-radius: 20px;
    font-weight: 700;
    background: rgb(15,38,43);
    border-color: rgb(15,38,43);
    line-height: 2;
}

.btn-submit:hover {
    background: #fff;
    color: rgb(15,38,43);
    border-color: rgb(15,38,43);
    transition: 0.2 ease-in-out all;
}

hr {
    border-top: 2px solid rgba(0,0,0,.1);
    width: 90%;
}

@media screen and (min-width: 768px) {

    .contact-info-list li {
        display: inline;
        position: relative;
    }

    .contact-info-list li + li 
    {
        margin-left: 1rem;
    }

    .contact-info-list li:nth-last-child(1)::before {
        content: "|";
        margin-right: .5rem;
        font-size: 1.5rem;
        position: absolute;
        margin-left: -.75rem;
        top: -6px;
    }

}